<div class="login_page_wrp">
    <div class="container">
        <div class="content_box">
            <div class="row">
                <div class="col-lg-7 col-md-12 offset-lg-1 m-md-auto my-md-5 pt-2">
                    <div class="login_card">
                        <h1>Sign Up</h1>
                        <p>If you have an account register</p>
                        <p class="mb-1">
                            "You can"
                            <a href="SignIn">Login Here!</a>
                        </p>

                        <form>
                            <div class="form-group">
                                <label for="firstname">First Name*</label>
                                <input id="firstname" type="text" class="form-control" placeholder="First Name" name="FirstName" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name*</label>
                                <input id="lastname" type="text" class="form-control" placeholder="Last Name" name="LastName" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="email">Email Id*</label>
                                <input id="email" type="email" class="form-control" placeholder="Email" name="email" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="password">Password*</label>
                                <input id="password" type="password" class="form-control" placeholder="Password" name="password" autocomplete="off">
                            </div>
                            <button type="button" class="btn btn_login" id="btn_signup">Sign In</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>